<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, user-scalable=no' />
    <link rel='stylesheet' href='../stylesheets/styles.css' type='text/css' />
    <title>Petters</title>
  </head>
  <body>
    <div class='wrapper'>
      <header>
        <div id='header-head'>
          <h1 id='header-logo'>Petters</h1>
        </div>
        <nav>
          <a class='navItem' href='/'>Home</a>
          <a class='navItem' href='/dashboard'>Dashboard</a>
          {{#if loggedIn}}
            <a class='navItem' id='logout'>Logout</a>
          {{else}}
            <a class='navItem' href='/login'>Login</a>
          {{/if}}
          <a class='navItem' href='api/featured'>Featured</a>
          <a class='navItem' href='/search'>Search</a>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
    </div>
  </body>
</html>
{{#if loggedIn}}
  <script src='/javascript/logout.js'></script>
{{/if}}