<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, user-scalable=no' />
    <link rel='stylesheet' href='../stylesheets/styles.css' type='text/css' />
    <title>Petters</title>
  </head>
  <body>
    <div class='wrapper'>
      <header>
        <div id='header-head'>
          <h1 id='header-logo'>Petters</h1>
        </div>
        <nav>
          <a href='/'>Home</a>
          <a href='/dashboard'>Dashboard</a>
          <a href='/login'>Login</a>
          <a href='/featured'>Featured</a>
          <a href='/search'>Search</a>
        </nav>
        <form
          method='POST'
          action='api/posts/upload'
          enctype='multipart/form-data'
        >
          <input type='file' name='image' />
          <input type='submit' />
        </form>
      </header>
      <main>
        {{{body}}}
      </main>
    </div>
  </body>
</html>