<h1>Dashboard</H1>
<body>
    <h2>Your posts</h2>
    <button>Like</button>
    <button>View</button>
    <button>Delete</button>
    <button>Add new post</button>
    <button>Edit post</button>
</body>
</html>