<h1>Featured</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Featured</title>
</head>
<body>
    <p style="text-align: center;">Our featured page of the application, allows users to view the posts of the day, month or year.</p>
    <form action="/html/tags/html_form_tag_action.cfm" method="post">
    <div>
      <textarea name="comments" id="comments" style="font-family:sans-serif;font-size:1.2em;">
        Hey... say something!
      </textarea>
    </div>
    <input type="submit" value="Submit">
</form>
</body>
</html>