<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <class="container h-screen m-auto flex justify-center">
        <form id="login" class="form">
            <h1 class="form-title text-m">Login</h1>
            <div class="form_message">Email or Username</div>
            <div class="form__input-group">
                <input type="text" class="form__input px-8 py-4" autofocus placeholder="Email or Username">
            </div>
            <div class="form-input-group">
                <div class="form_message">Password</div>
                <input type="text" class="form__input px-8 py-4" autofocus placeholder="Password">
            </div>
            <button>Submit</button>
        </form>
    



        <form id="signup" class="sign-up-form">
            <h1 class="form-title text-m">Sign Up</h1>
            <div class="form_message">Email or Username</div>
            <div class="form__input-group">
                <input type="text" class="form__input px-8 py-4" autofocus placeholder="Email or Username">
            </div>
            <div class="form-input-group">
                <div class="form_message">Enter Password</div>
                <input type="text" class="form__input px-8 py-4" autofocus placeholder="Password">
                <div class="form__input-group"></div>
            </div>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>