<form id="search-bar">
  <input
    type='search'
    id='search'
    name='search'
    placeholder='Search...'
    aria-label='Search through site content'
  />
  <button tpye="submit" id="dogs">Dogs</button>
  <button tpye="submit" id="cats">Cats</button>
  <button tpye="submit" id="small-pets">Small Pets</button>
  <button tpye="submit" id="reptiles">Reptiles</button>
  <button tpye="submit" id="wild">Wild</button>
  <button tpye="submit" id="fish">Fish</button>
</form>