<h1>Search</h1>
<body>
    <form id="form" role="search"> 
  <input type="search" id="search" name="search" placeholder="Search..."
  aria-label="Search through site content">
  <button>Search</button>
</form>
</body>
</html>