/* -------- --------- --------- Root properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: black;
}

#empty {
  width: 200px;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  padding-left: 30px;
  background-color: rgba(111, 22, 193, 0.7);
  top: 0;
  z-index: 2;
  position: sticky;
  margin-bottom: 25px;
  box-shadow: 5px 0 10px 0 rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}

main {
  margin-top: 30px;
  margin-left: 30px;
}

nav a:hover {
  color: rgb(231, 231, 231);
}

nav a {
  margin: 0 5px;
}

nav a:first-child {
  margin: 0;
}

.navItem {
  font-size: 25px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.navItem.active {
  color: rgb(0, 0, 0);
}

button {
  padding: 3px 15px;
  border: none;
  border-radius: 4px;
  background-color: lightblue;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
}

button:active {
  transform: scale(0.97);
  box-shadow: 0px 0px 1px 0 rgba(0, 0, 0, 0.04);
}

input,
textarea {
  font-size: 20px;
  resize: none;
  color: black;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
}

/* -------- --------- --------- Search page (search.handlebars) */

#search-wrapper {
  margin-bottom: 50px;
}
#search-controls {
  color: white;
  width: 60%;
  top: 120px;
  z-index: 2;
  position: sticky;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(111, 22, 193, 0.7);
  backdrop-filter: blur(10px);
}

#search-controls input::placeholder {
  color: white;
}
#search-controls input {
  color: white;
  background-color: rgba(104, 24, 179, 0.7);
}
#header-logo {
  color: white;
  cursor: pointer;
}

#search-post-wrapper {
  margin-top: 20px;
  width: 35%;
}

#search-post-wrapper,
#search-user-wrapper {
  margin-left: 20px;
}

#addPost-form {
  display: flex;
  align-items: flex-end;
}
/* -------- --------- --------- Featured page (featured.handlebars) */

/* Top 5 likes, Top 5 Commented */
.container h2 {
  font-size: 35px;
  font-weight: 800;
  font-style: italic;
}

.post-top-likes {
  background-color: rgba(214, 110, 110, 0.1);
}

.post-top-comments {
  background-color: rgba(214, 195, 110, 0.1);
}
.container {
  padding: 0;
}

.post-top-likes,
.post-top-comments {
  padding: 50px;
}

/* -------- --------- --------- Login / Signup (login.handlebars) */
#signup-status,
#signin-status,
#comment-status {
  margin-top: 5px;
  font-size: 12px;
}

#form-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#form-inputs input {
  margin: 5px 0;
  width: 350px;
}

#login-notice {
  font-size: 18px;
  line-height: 1.3;
}

/* -------- --------- --------- Main page CSS (main.handlebars) */

#header-logo {
  user-select: none;
}
/* -------- --------- --------- Single posts universal selectors and properties */
#homepage-posts,
#dashboard-posts,
.post-top-likes,
.post-top-comments,
#single-user-wrapper,
.user-results {
  width: 35%;
}

#page-singlepost {
  width: 30%;
}

.user-results {
  margin-top: 20px;
}

#page-singlepost #post-body-wrapper {
  margin-bottom: 0;
}
#comment-field,
#comment-section {
  width: 100%;
}

#single-comment {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 145px;
  margin: 10px 0;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

#comment {
  font-size: 15px;
}

/* -------- --------- --------- Dashboard */
#addPost-form {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#add-select-wrapper {
  display: flex;
}

#addPost-form textarea,
#add-title {
  width: 100%;
}

#add-post-image {
  width: 64%;
  margin-right: 15px;
}

#add-post-image,
#addPost-form textarea,
#add-title,
select {
  margin-top: 5px;
  margin-bottom: 5px;
}

#add-post {
  margin-top: 5px;
}

select {
  width: 35%;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 18px;
  color: #444;
  padding: 5px 12px;
  border-radius: 5px;
  border: none;
  appearance: none;
}

#dashboardHr {
  margin: 40px 0;
}

/* -------- --------- --------- Home page */
#homepage-posts a {
  margin-bottom: 100px;
}

#single-post-wrapper {
  position: relative;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
}
#single-post {
  position: relative;
  text-decoration: none;
  color: black;
}

#post-image {
  /* Fit the full width of the post */
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  height: 30px;
  background-color: rgb(214, 255, 194);
}

#post-category {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
  opacity: 0.3;
}

.category-btns {
  margin: 5px 0;
}

.dogs {
  background-color: rgb(214, 82, 59) !important;
}
.cats {
  background-color: rgb(44, 139, 255) !important;
}
.small-pets {
  background-color: orange !important;
}
.reptile {
  background-color: green !important;
}
.wild {
  background-color: plum !important;
}
.fish {
  background-color: lightblue !important;
}

#post-header p {
  margin: 0 10px;
}

#post-body-wrapper {
  background-color: aliceblue;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 50px;
}

#post-body {
  height: 100px;
}
#single-post:last-child #post-body {
  margin-bottom: 0;
}

#post-icon-wrapper {
  position: absolute;
  color: black;
  display: flex;
  align-items: center;
  right: 10px;
  bottom: 10px;
}

#post-icon-wrapper p {
  margin-bottom: 0;
}

#chat-icon-wrapper,
#like-icon-wrapper {
  display: flex;
}

#chat-icon,
.like-icon {
  margin-right: 3px;
  width: 20px;
  height: 22.5px;
}
#chat-icon {
  pointer-events: none;
}

.like-icon {
  cursor: pointer;
  margin-left: 15px;
}

.like-icon.true {
  filter: invert(1);
}
